Dockerfile
Dockerfile.*
.dockerignore
node_modules
**/.env
**/.env.local
**/.env.*.local
*.log
**/dist
**/build
**/.next
**/coverage
.git
.gitignore
.docker
.turbo
.vercel
.DS_Store
**/.turbo
docs
.vscode
.idea
.agent