NEXT_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
NEXT_PUBLIC_GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID

COMPOSE_PROFILES=monitoring # Available profiles = monitoring

REDIS_PASSWORD=redispass
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_NOTIFICATIONS_ENABLED=false
GRAFANA_PASSWORD=admin